<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.essensol.serviceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Utility.MyApplications"
        android:allowBackup="true"
        android:icon="@mipmap/employeeicon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/employeeicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.SplashSceen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity.PaymentReport" />
        <activity android:name=".Activity.PaymentDetails" />
        <activity android:name=".Activity.PaymentCollection" />
        <activity android:name=".Activity.CompletedServiceDetails" />
        <activity android:name=".Activity.ProductDelivery_Details" />
        <activity android:name=".Activity.Task_Details" />
        <activity android:name=".Activity.TaskReport" />
        <activity android:name=".Activity.WorkReport" />
        <activity android:name=".Activity.ServiceDetails">



        </activity>
        <activity android:name=".Activity.Profile" />
        <activity android:name=".Activity.Product_Delivery" />
        <activity android:name=".Activity.Task" />
        <activity android:name=".Activity.Service" />
        <activity android:name=".Utility.ToolBar" />
        <activity android:name=".Activity.Home" />
        <activity android:name=".Activity.Login"/>


    </application>

</manifest>